{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NicoCalories</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"0>
    
</head>
<body class="body">
    {% include 'navbar.html' %}
    <br>
    <br>
    <div class="container">
        {% block content %}
            <div class="flex-box-row">
                <h5>Clientes:</h5>
                <br>
                <br>
                <div class="card card-body">
                    <table class="table table-dark table-striped table-hover">
                            <tr>
                                <th>Cliente</th>
                                <th>Email</th>
                            </tr>
                            {% for cust in clientes %}
                            <tr>
                                <td>{{cust.nombre}} </td>
                                <td> {{cust.email}} </td>
                            </tr>
                            {% endfor %}
                    </table>
                    
                </div>
                
            </div>
            <br><br>
            <h4>Lista de alimentos disponibles:</h4>
            <div class="flex-box-row">
                <h5>Desayuno:</h5>
                <br>
                <br>
                <div class="card card-body">
                    <table class="table table-dark table-striped table-hover">
                            <tr>
                                <th>Nombre</th>
                                <th>Carbohidratos</th>
                                <th>Grasas</th>
                                <th>Proteinas</th>
                                <th>Calorias</th>
                            </tr>
                            {% for des in desayuno %}
                            <tr>
                                <td>{{des.nombre}}</td>
                                <td>{{des.carbohidratos}}</td>
                                <td>{{des.grasas}}</td>
                                <td>{{des.proteina}}</td>
                                <td>{{des.calorias}}</td>
                            </tr>
                            {% endfor %}
                    </table>
                    
                </div>
                
            </div>
            <br><br>
            <div class="flex-box-row">
                <h5>Almuerzo:</h5>
                <br>
                <br>
                <div class="card card-body">
                    <table class="table table-dark table-striped table-hover">
                            <tr>
                                <th>Nombre</th>
                                <th>Carbohidratos</th>
                                <th>Grasas</th>
                                <th>Proteinas</th>
                                <th>Calorias</th>
                            </tr>
                            {% for des in almuerzo %}
                            <tr>
                                <td>{{des.nombre}}</td>
                                <td>{{des.carbohidratos}}</td>
                                <td>{{des.grasas}}</td>
                                <td>{{des.proteina}}</td>
                                <td>{{des.calorias}}</td>
                            </tr>
                            {% endfor %}
                    </table>
                    
                </div>
                
            </div>
            <br><br>
            <div class="flex-box-row">
                <h5>Cena:</h5>
                <br>
                <br>
                <div class="card card-body">
                    <table class="table table-dark table-striped table-hover">
                            <tr>
                                <th>Nombre</th>
                                <th>Carbohidratos</th>
                                <th>Grasas</th>
                                <th>Proteinas</th>
                                <th>Calorias</th>
                            </tr>
                            {% for des in cena %}
                            <tr>
                                <td>{{des.nombre}}</td>
                                <td>{{des.carbohidratos}}</td>
                                <td>{{des.grasas}}</td>
                                <td>{{des.proteina}}</td>
                                <td>{{des.calorias}}</td>
                            </tr>
                            {% endfor %}
                    </table>
                    
                </div>
                
            </div>
            <br><br>

            <div class="flex-box-row">
                <h5>Snacks:</h5>
                <br>
                <br>
                <div class="card card-body">
                    <table class="table table-dark table-striped table-hover">
                            <tr>
                                <th>Nombre</th>
                                <th>Carbohidratos</th>
                                <th>Grasas</th>
                                <th>Proteinas</th>
                                <th>Calorias</th>
                            </tr>
                            {% for des in snack %}
                            <tr>
                                <td>{{des.nombre}}</td>
                                <td>{{des.carbohidratos}}</td>
                                <td>{{des.grasas}}</td>
                                <td>{{des.proteina}}</td>
                                <td>{{des.calorias}}</td>
                            </tr>
                            {% endfor %}
                    </table>
                    
                </div>
                <br><br>
                
            </div>
        {% endblock %}
    </div>
</body>
</html>