{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Registro</title>
    <style>

    </style>
</head>
<body>
    <h3>Registro</h3>

        <form method="POST" action="">
            {% csrf_token %}
            Usuario:
            {{form.username}}

            Email:
            {{form.email}}
            

            Contraseña:
            {{form.password1}}

            Re-ingresar contraseña:
            {{form.password2}}

            <input type="submit" value = 'Registrarse' />
        </form>
</body>
</html>